/* Table */

table td {
    text-align: center;
    border-width: 3px;
    border-color: #4e5155;
    padding: 5px;
}

td.columnHeader {
    font-weight: bold;
}

td.addEditLabel {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

td.step {
    text-align: left;
    font-weight: bold;
}
td.instruction {
    text-align: left;
}
input.btn-success {
    width: 150px;
}

p.error {
    color: red;
    font-style: italic;
    text-align: left;
}